.course {
    display: flex;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    transition: padding 0.05s ease-out, background-color 0.25s ease-out;
    border-radius: 2px;
    border: solid 2px rgb(21, 138, 138);
    animation: coursePopup 0.25s normal forwards ease-in-out;
}

.course:hover {
    padding: 10px 10px;
    background-color: rgb(7, 34, 42);
}

.courseText {
    font-size: 12px;
    font-weight: 600;
    margin: 2px
}

.courseId {
    display: none;
}

.course:hover > div > .courseId {
    display: inline-block;
}

@keyframes coursePopup {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
