.explorer {
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 19, 19);
    width: 80%;
    height: 500px;
    margin: 0px 25px;
    border-radius: 10px;
}

.explorerMenu {
    width: 100%;
    padding: 10px 0px;
    background-color: rgb(3, 3, 3);
    border-radius: 5px;
}

.explorerMenu > h4 { margin: 0; margin-left: 10px; }

@media screen and (max-width: 410px) {

    .explorer {
        width: 100%;
        margin: 0px auto;
    }

}
