.folderContainer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    max-width: 70px; 
    margin: 10px;
    cursor: pointer;
    animation: folderPopup 0.25s normal forwards ease-in-out;
}

.folderContainer:hover > .folderImage {
    width: 60px;
    height: 60px;
}

.folderImage {
    width: 50px;
    height: 50px;
    filter: invert(77%) sepia(48%) saturate(6389%) hue-rotate(147deg) brightness(104%) contrast(73%);
    transition: width 0.10s ease-out, height 0.10s ease-out;
}

@keyframes folderPopup {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
