.form {
    display: flex;
    flex-direction: column;
    max-width: 172px;
}

.form > input {
    color: white;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: black;
}

.form > button {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
    background-color: rgb(14, 13, 13);
    transition: background-color 0.20s ease-out;
}

.form > button:hover {
    background-color: rgb(41, 39, 39);
}
