.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
    background-color: rgb(22, 22, 22);
}

.navMain {
    display: flex;
}

.klassroomImage {
    position: relative;
    width: 70px;
    margin-left: 10px;
    margin-right: 20px;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
}

.klassroomImage:hover {
    transform: rotateZ(180deg);
}

.navTitle {
    margin: 0px 7px; 
    font-size: 50px; 
    font-weight: 800;
}

.navDescription {
    margin: 0px 10px; 
    font-weight: 600;
}

.signButton {
    background-color: rgb(8, 8, 8);
    padding: 0px 15px;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width: 512px) {

    .klassroomImage {
        margin: 0;
        top: 30px;
        width: 20px;
    }

}

@media screen and (max-width: 340px) {

    .nav {
        justify-content: center;
    }

    .klassroomImage {
        top: 8px;
    }

    .navTitle {
        text-align: center;
        font-size: 30px;
    }

    .navDescription {
        text-align: center;
        font-size: 10px;
    }

}
